.venv/
__pycache__/
penguin_env/
rgbds/
.antlr/
*.egg-info/
.asm
.gb
.obj

*.pyc
*.pyo
*.class
*.exe
*.out
*.log
PENGUINLexer.py
PENGUINParser.py
PENGUINListener.py
PENGUINVisitor.py
*.tokens
*.interp
*.pycache/
.vscode/
temp*